*{
    font-family: Garamond;
    margin: 0;
}
header{
    display: flex;
}
.blok-lewy{
    background-color: #00600F;
    color: white;
    text-align: center;
    width: 75%;
    height: 90px;
}
.blok-prawy{
    background-color: #00600F;
    color: white;
    text-align: center;
    width: 25%;
    height: 90px;
}
.blok-glowny{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #C8E6C9;
    height: 600px;
    
}
.item {
    margin: 10px;
    border: 1px solid #00600F;
    width: 300px;
}

h5 {
    background-color: #00600F;
    color: white;
    font-size: 200%;
    text-align: center;
    margin: 0px;
}

h2 {
    text-align: end;
}
footer{
    background-color: #00600F;
    color: white;
}